<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      County Announcements
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="announces.length == 0">

      <super-navigate location="announce#show" data-params-id="{{ announce.id }}" ng-repeat="announce in announces">
        <li class="item item-icon-right">
          <span ng-bind="announce['ann_title']"></span>
		  <span> - </span>
		  
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="announces.length == 0" class="assertive padding">
      No announces found. Create one?
    </h4>

  </div>
</div>
