<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Wake County Republican Party
    </super-navbar-title>
  </super-navbar>

  <h1>What Are We About?</h1>
  <h3>4 Core Values</h3>

  <div class="card">
  <div class="item item-divider">
   <b> Fiscal Conservatism...</b>
  </div>
  <div class="item item-text-wrap">
   <p> Our elected leaders must treat the taxpayers money like they would treat their own money. They must be frugal, efficient, and spend only on those areas that are necessary.</p>
  
  </div>  
</div>

<div class="card">
  <div class="item item-divider">
    <b>Personal Responsibility...</b>
  </div>
  <div class="item item-text-wrap">
   <p> We all need to take ownership of our own lives, our decisions, and the consequences of those decisions, rather than relying on our government to make these decisions for us, or bailing us out from our own bad judgment.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <b>Focus on Family and Neighborhoods...</b>
  </div>
  <div class="item item-text-wrap">
   <p> The family unit is the backbone of the country, and the school is the backbone of the neighborhood. If either is at risk, then our country is at risk.</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <b>Government Accountability...</b>
  </div>
  <div class="item item-text-wrap">
   <p> Our elected officials, along with all government employees, should be accountable for their actions. Tax cheats, mismanagement, and ethical malfunctions among our elected leaders must not be tolerated by the people.</p>
  </div>
</div>


<super-navigate view-id="NC_GOP">
    <button class="button button-block button-positive icon-left super-wand">Find Out about the State and District Party</button>
  </super-navigate>	
	
  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a onclick="supersonic.app.openURL('mailto:contact@wakegop.org')" href="#">contact@wakegop.org</a>, we want to hear from you!</p>

</div>
