<super-navbar>
  <super-navbar-title>
    District and State Party
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h2>Beyond the County Party</h2>

  
    <div class="card padding">
    <h3>About District 2</h3>
    <p class="positive"><strong><a onclick="supersonic.app.openURL('http://ncgop2.org/')" href="#">Learn more</a></strong></p>
  </div>
	
	<div class="card padding">
	<h3>About District 4</h3>
    <p class="balanced"><strong>District Chair:<a onclick="supersonic.app.openURL('mailto:chairman@ncgop4.org')" href="#"> Matthew Arnold</a>  </strong></p>
    <p>North Carolina’s Fourth Congressional district spans seven counties, linking the largest cities in each. The Fourth is a diverse community including all of the major universities in the Triangle, and virtually every significant attraction that North Carolina has to offer. The Republican party remains focused on attracting like-minded voters as well as candidates committed to representing the best interests of the district </p>
    <p class="positive"><strong><a onclick="supersonic.app.openURL('http://ncgop4.com/')" href="#">Learn more</a></strong></p>
  </div>
  
  

  <div class="card padding">
    <h3>About District 13</h3>
	<p class="balanced"><strong>District Chair:<a onclick="supersonic.app.openURL('mailto:zan@ncgop13.com')" href="#"> Zan Bunn</a>  </strong></p>   
	<p>The 13th Congressional District covers nine counties Edgecombe, Franklin, Durham, Granville, Nash, Vance, Wake, Wayne, and Wilson. The most important function of the 13th Congressional District is to help elect Republicans into office at the local, state, and national level.  The 13th Congressional District is devoted to energizing and cultivating a grassroots organization at all levels that is critical in serving as an all-inclusive support system for our nine local county Republican parties.</p>
	<p class="positive"><strong><a onclick="supersonic.app.openURL('http://www.ncgop13.com/')" href="#">Learn more</a></strong></p>
  </div>
   
  
  <div class="card padding">
    <h3>NC GOP <i class="ion-social-twitter"></i></h3>
	<p class="balanced"><strong>NC GOP Chair: <a onclick="supersonic.app.openURL('mailto:claude.pope@ncgop.org')" href="#"> Hasan Harnett</a>  </strong></p>
	<p class="balanced"><strong>Phone:<a onclick="supersonic.app.openURL('tel:19198286423')" href="#">(919) 828-6423</a>  </strong></p>
	<p class="positive "><strong><a onclick="supersonic.app.openURL('https://www.google.com/maps/place/1506+Hillsborough+St,+Raleigh,+NC+27605/@35.7845667,-78.6580755,17z/data=!3m1!4b1!4m2!3m1!1s0x89acf589f3962f87:0x307f9f270be6c690')" href="#">1506 Hillsborough Street Raleigh, NC 27605</a></strong></p>
    <p class="positive"><strong><a onclick="supersonic.app.openURL('http://www.ncgop.org/')" href="#">Learn more</a></strong></p>
  </div>

</div>
