<super-navbar>
  <super-navbar-title>
    Contact Us
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h1>Contact Us</h1>

  <div class="card padding super-home">
    <h3>Address</h3>
    <p class="balanced"><strong>Wake County Republican Party Volunteer Office </strong></p>
    <p>811 Spring Forest Road, Suite 1200 </p>
    <p>Raleigh, NC 27609 </p>
	<p class="positive "><strong><a onclick="supersonic.app.openURL('https://www.google.com/maps/place/811+Spring+Forest+Rd,+Raleigh,+NC+27609/@35.8664851,-78.6233383,18z/data=!4m2!3m1!1s0x89ac58458c42c883:0xca3b07e883120877')" href="#">Locate Us</a></strong></p>
   </div>
  
  <div class="card padding icon-left super-email">
    <h3>Email</h3>
    <p class="positive "><strong><a onclick="supersonic.app.openURL('mailto:contact@wakegop.org')" href="#">contact@wakegop.org</a></strong></p>
  </div>

  <div class="card padding icon-left super-android-call">
    <h3>Phone</h3>
    <p class="balanced"><strong><a onclick="supersonic.app.openURL('tel:19198905374')" href="#">(919) 890-5374</a></strong></p>
  </div>
    
  <div class="card padding icon-left super-social-twitter">
    <h3>Twitter</h3>
    <p class="balanced"><strong><a onclick="supersonic.app.openURL('https://twitter.com/WakeCountyGOP')">@WakeCountyGOP</a></strong></p>
  </div>
  
  <div class="card padding icon-left super-social-facebook">
    <h3>Facebook</h3>
    <p class="balanced"><strong><a onclick="supersonic.app.openURL('https://www.facebook.com/WakeGOP')">Wake GOP Facebook Page</a></strong></p>
  </div>

</div>
