<div ng-controller="IndexController">
<super-navbar>
    <super-navbar-title>
      Elected Leaders
    </super-navbar-title>
  </super-navbar>


<div class="padding">
  
  <div class="item item-image">
  
  <h2>Get Involved Locally for the Republican Party</h2>
  </div>
  <div class="item item-body">

  
  <super-navigate view-id="offical#index">
    <button class="button button-block button-positive icon-left super-speakerphone">NC Elected Officals</button>
  </super-navigate>
  
  <super-navigate view-id="presidentelection#index">
    <button class="button button-block button-positive icon-left super-heart">2016 Presidential Cantidates</button>
  </super-navigate>
  
  <super-navigate view-id="leaders">
    <button class="button button-block button-positive icon-left super-person-stalker">County Leadership</button>
  </super-navigate>
  
	
  </div>
</div>

</div>
