<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Get Involved
    </super-navbar-title>
  </super-navbar>

  <h2>Get Involved Locally for the Republican Party</h2>

  <p>Donating time and effort to the causes and candidates in your community does not have to be a huge commitment. The Wake Republican party can use the help from many individuals that are willing to donate a little time, talent and resources. There are so many ways to support your local GOP candidates that commit their time to stand by the issues that mean so much to North Carolina. </p>

  <h3> Here are ways to get involved</h3>
  
  
  <super-navigate view-id="voulenteerrequest#index">
    <button class="button button-block button-positive icon-left super-bonfire">Voulunteer With Us</button>
  </super-navigate>
  <super-navigate view-id="events">
    <button class="button button-block button-positive icon-left super-star">Local Events</button>
  </super-navigate>
  
  <super-navigate view-id="countyCommitties">
    <button class="button button-block button-positive icon-left super-briefcase">Standing Committies</button>
  </super-navigate>

  <super-navigate view-id="countyClubs">
    <button class="button button-block button-positive icon-left super-person-stalker">County Clubs</button>
  </super-navigate>

  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a onclick="supersonic.app.openURL('mailto:contact@wakegop.org')" href="#">contact@wakegop.org</a>, we want to hear from you!</p>

</div>
