<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">committee_chair</span>
    <input type="text" ng-model="countycommittee['committee_chair']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">committee_name</span>
    <input type="text" ng-model="countycommittee['committee_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">committee_subject</span>
    <input type="text" ng-model="countycommittee['committee_subject']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">committie_time</span>
    <input type="text" ng-model="countycommittee['committie_time']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="countycommittee['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="countycommittee['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="countycommittee['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
