<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Menu
    </super-navbar-title>
  </super-navbar>

  <div class="padding">

    
	<super-navigate  class="item item-icon-left item-icon-right" ng-click="supersonic.ui.drawers.close()">
      <a href="http://ncgop2.com/">District 2</a>
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>
	<super-navigate view-id="leadership#index" class="item item-icon-left item-icon-right" ng-click="supersonic.ui.drawers.close()">
      District 4
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>
	<super-navigate view-id="leadership#index" class="item item-icon-left item-icon-right" ng-click="supersonic.ui.drawers.close()">
      District 13
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>
	<super-navigate view-id="leadership#index" class="item item-icon-left item-icon-right" ng-click="supersonic.ui.drawers.close()">
      NC GOP
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>
    <br>
	
	
    <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
      Close this menu
    </button>

  </div>

</div>