<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" ng-model="presidentelection['Name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="presidentelection['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">job</span>
    <input type="text" ng-model="presidentelection['job']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="presidentelection['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">photo</span>
    <input type="text" ng-model="presidentelection['photo']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">state</span>
    <input type="text" ng-model="presidentelection['state']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="presidentelection['updatedAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">website</span>
    <input type="text" ng-model="presidentelection['website']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
