<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Off_name</span>
    <input type="text" ng-model="offical['Off_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Off_role</span>
    <input type="text" ng-model="offical['Off_role']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">comm_picture</span>
    <input type="text" ng-model="offical['comm_picture']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="offical['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="offical['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">off_phone</span>
    <input type="text" ng-model="offical['off_phone']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">off_website</span>
    <input type="text" ng-model="offical['off_website']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">political_party</span>
    <input type="text" ng-model="offical['political_party']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="offical['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
