<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Position</span>
    <input type="text" ng-model="endorse['Position']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="endorse['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="endorse['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="endorse['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="endorse['updatedAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">website</span>
    <input type="text" ng-model="endorse['website']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
