<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Cantidates for Office 2015
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
  
  <ul class="list" ng-hide="voulenteerrequests.length == 0">


	   
		  
		   <p>
				<ul class="list" ng-hide="endorses.length == 0">

				  <super-navigate location="endorse#show" data-params-id="{{ endorse.id }}" ng-repeat="endorse in endorses">
					<li class="item item-icon-right">
					  <span ng-bind="endorse['Position']"></span>
					  <i class="icon super-ios7-arrow-right"></i>
					</li>
				  </super-navigate>

				</ul>
			</p>
		  
		  
		
    </ul>
    

    <h4 ng-show="endorses.length == 0" class="assertive padding">
      No endorses found. Create one?
    </h4>

    
  </div>
</div>
