<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      County Leadership
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="countyleaders.length == 0">

      <super-navigate location="countyleader#show" data-params-id="{{ countyleader.id }}" ng-repeat="countyleader in countyleaders">
        <li class="item item-icon-right">
          <span ng-bind="countyleader['lead_role']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="countyleaders.length == 0" class="assertive padding">
      No countyleaders found. Create one?
    </h4>

    
  </div>
</div>
