<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_bio</span>
    <input type="text" ng-model="countyclub['club_bio']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_email</span>
    <input type="text" ng-model="countyclub['club_email']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_loc_address</span>
    <input type="text" ng-model="countyclub['club_loc_address']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_location</span>
    <input type="text" ng-model="countyclub['club_location']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_name</span>
    <input type="text" ng-model="countyclub['club_name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_president</span>
    <input type="text" ng-model="countyclub['club_president']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">club_time</span>
    <input type="text" ng-model="countyclub['club_time']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="countyclub['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="countyclub['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="countyclub['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
