<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      County Clubs
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="countyclubs.length == 0">

		
      <super-navigate location="countyclub#show" data-params-id="{{ countyclub.id }}" ng-repeat="countyclub in countyclubs">
        <li class="item item-icon-right">
          <span ng-bind="countyclub['club_name']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="countyclubs.length == 0" class="assertive padding">
      No countyclubs found. Create one?
    </h4>

    
  </div>
</div>
